* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: #EDEDED; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.container {
  width: 80%;
  max-width: 1157px;
  min-width: 280px;
  margin: 0 auto; }

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9; }

.header-nav {
  background: #EDEDED; }

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0; }

.header-nav__item {
  position: relative;
  margin: 0 18px; }
  .header-nav__item::after {
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    right: -18px;
    position: absolute;
    height: 29px;
    width: 1px;
    background-color: #032C4B;
    content: ""; }

.contact-items-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-panel {
  background-color: #CFCFCF; }

.header-panel__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header-panel__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-panel__item {
  margin-right: 20px; }

.header-panel__link {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  color: #525252; }

.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-links li:not(:first-child) {
  margin-left: 5px; }

.header-links img {
  width: 9px;
  height: 9px; }

.logo {
  position: absolute;
  left: 0;
  top: -5px;
  z-index: 3; }
  .logo h3 {
    text-align: center;
    color: #FFEBC4;
    font-size: 17px; }

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: bold;
  /* #032C4B */
  color: #032C4B; }
  .contact-item__icon {
    margin-right: 9px;
    height: 30px;
    width: 30px; }
  .contact-item__name {
    font-size: 10px; }
  .contact-item__info {
    font-size: 16px; }

.search-block {
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 19px; }
  .search-block__input {
    width: 153px;
    padding: 5px 8px;
    border: 1px solid #032C4B;
    border-radius: 4px;
    font-size: 10px;
    color: #525252;
    outline: none; }
    .search-block__input::-webkit-input-placeholder {
      font-size: 10px;
      color: #525252; }
    .search-block__input:-ms-input-placeholder {
      font-size: 10px;
      color: #525252; }
    .search-block__input::-ms-input-placeholder {
      font-size: 10px;
      color: #525252; }
    .search-block__input::placeholder {
      font-size: 10px;
      color: #525252; }
  .search-block__button {
    position: relative;
    left: -4px;
    padding: 1px 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #032C4B;
    border: 1px solid #000000;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 4px 4px 0px;
    cursor: pointer; }
    .search-block__button img {
      width: 11px;
      height: 11px; }

.change-language {
  width: 58px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }
  .change-language img {
    margin-left: 4px; }
  .change-language-list {
    display: none;
    width: 49px;
    padding: 6px;
    position: absolute;
    right: 0;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 2px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px; }
    .change-language-list li {
      position: relative; }

.language-active::after {
  position: absolute;
  content: url("../img/icons/arrow-right-blue-small.svg");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 1px;
  top: 1px; }

.menu-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: #032C4B; }
  .menu-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .menu-nav__item {
    margin-right: 35px;
    position: relative;
    padding: 22px 0; }
  .menu-nav__link {
    position: relative;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #EDEDED; }
    .menu-nav__link::after {
      content: "";
      display: none;
      position: absolute;
      -webkit-transform: translate(0 -50%);
              transform: translate(0 -50%);
      left: 0;
      bottom: -22px;
      height: 3px;
      width: 100%;
      background: #FFEBC3;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    .menu-nav__link:hover:after {
      display: block; }

#menu {
  width: 15px;
  height: 15px; }

ul li ul {
  display: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  left: 0; }

ul > li:hover > ul,
ul li ul:hover {
  display: block;
  visibility: visible;
  opacity: 1;
  display: block; }

.drop-down-l-2 {
  position: absolute;
  top: 64px;
  width: 290px; }
  .drop-down-l-2 li {
    position: relative;
    padding: 7px 12px;
    background: #EDEDED;
    font-size: 13px;
    line-height: 15px;
    border-bottom: 1px solid #BFBFBF;
    cursor: pointer; }
    .drop-down-l-2 li span img {
      position: absolute;
      right: 12px;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .drop-down-l-2 a {
    color: #032C4B; }

.mobile-drop-down-arrow {
  z-index: 2;
  position: absolute;
  right: 0;
  padding: 10px 15px;
  top: -4px;
  display: none; }

.drop-down-l-3 {
  position: absolute;
  top: 0;
  left: 100%;
  width: 203px;
  top: 0;
  padding-left: 2px; }
  .drop-down-l-3--left {
    left: -203px; }
  .drop-down-l-3 li {
    padding: 7px 12px;
    background: #EDEDED;
    line-height: 15px;
    border-bottom: 1px solid #BFBFBF;
    cursor: pointer; }
    .drop-down-l-3 li::after {
      content: ""; }
    .drop-down-l-3 li a {
      color: #032C4B;
      font-size: 13px; }

.mobile-header-nav {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.menu-nav-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .menu-nav-mobile li {
    margin-left: 5px; }

.search-mobile {
  margin: 0 20px;
  position: relative;
  z-index: 9; }
  .search-mobile::after {
    content: "";
    left: 20px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #fff; }
  .search-mobile::before {
    content: "";
    right: 20px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #fff; }
  .search-mobile__input {
    display: none;
    position: absolute;
    bottom: -42px;
    right: 100%;
    padding: 4px 7px;
    background: #FFFFFF;
    border: 0.9px solid #032C4B;
    border-radius: 2px; }
    .search-mobile__input:focus {
      outline: none; }

#scrollTop {
  position: fixed;
  bottom: 65px;
  right: 18px;
  width: 43px;
  height: 43px;
  z-index: 2;
  background: #032C4B;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }
  #scrollTop::after {
    content: url("../img/icons/smallArrowUpLight.svg"); }

.btn {
  min-width: 136px;
  padding: 4px;
  text-transform: uppercase;
  border: 2px solid #032C4B;
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
  white-space: normal;
  cursor: pointer; }

.display-block {
  display: block; }

.btn--dark {
  color: #EDEDED;
  background: #032C4B; }

.btn--light {
  color: #032C4B;
  background: transparent; }

.btn--send {
  width: 96px; }

.menu-nav__link
.btn {
  width: 136px;
  padding: 4px;
  text-transform: uppercase;
  border: 2px solid #032C4B;
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer; }

.btn--dark {
  color: #EDEDED;
  background: #032C4B; }

.btn-light {
  color: #032C4B;
  background: transparent; }

.btn--send {
  width: 96px; }

.main-slider {
  margin-bottom: 135px;
  position: relative; }
  .main-slider__inner {
    position: relative;
    max-width: 1157px;
    margin: auto; }
  .main-slider__block {
    position: absolute;
    top: 87px;
    max-width: 538px;
    z-index: 2; }
  .main-slider__title {
    font-size: 55px;
    line-height: 64px;
    text-transform: uppercase;
    color: #032C4B;
    margin: 0 0 53px; }
    .main-slider__title span {
      padding: 0 11px;
      line-height: 55px;
      color: #fff;
      background: #032C4B; }

.main-slider__nav {
  position: absolute;
  top: 132px;
  right: 0;
  z-index: 2; }

.slick-slide {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .slick-dots button {
    width: 29px;
    height: 29px;
    margin: 4px 0;
    background-color: transparent;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #032C4B;
    cursor: pointer;
    border-radius: 50%; }

.controls-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.slick-active button {
  background: #032C4B;
  color: #fff; }

.slick-track {
  height: 600px; }

.slider-more-btn {
  padding: 12px 43px;
  text-transform: uppercase;
  color: #032C4B;
  font-size: 18px;
  color: #032C4B;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px; }

.main-slider__items {
  position: absolute;
  max-width: 1024px;
  bottom: -97px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.main-slider-item {
  position: relative;
  -ms-flex-preferred-size: 222px;
      flex-basis: 222px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 27px 16px;
  background-color: rgba(251, 251, 251, 0.8);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .main-slider-item__icon {
    margin-right: 15px;
    display: block;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .main-slider-item__title {
    font-size: 20px;
    text-transform: uppercase;
    color: #032C4B; }
  .main-slider-item:hover {
    bottom: 10px; }

.switch-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.switch-block {
  max-width: 115px;
  padding: 9px;
  color: #525252;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  cursor: pointer; }
  .switch-block--active {
    color: #EDEDED;
    background: #032C4B;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px); }
  .switch-block__title {
    font-style: italic;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 8px; }
  .switch-block__info {
    font-style: italic;
    font-size: 10px; }

.switch-block:not(:last-child) {
  margin-bottom: 20px; }

.gallery {
  margin-bottom: 45px; }
  .gallery img {
    display: block;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    cursor: pointer; }

.gallery-title {
  margin-bottom: 35px; }

.gallery-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px; }

.gallery-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.gallery-right-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.gallery-right-item--top {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.gallery-right-item--bottom {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.galery-btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.gallery-btn {
  padding: 9px 31px;
  margin: auto;
  color: #032C4B; }

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 5vh;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9); }

/* Modal Content (Image) */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%; }
  .modal-content img {
    max-width: 100%;
    display: block;
    -o-object-fit: cover;
       object-fit: cover; }

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  text-align: center;
  padding: 10px 0; }

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 9999; }

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer; }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%; } }
.lg-backdrop {
  background-color: rgba(0, 0, 0, 0.95); }

.title-item {
  font-size: 55px;
  text-align: center;
  color: #032C4B; }

.title-shadow {
  display: inline;
  position: relative;
  left: 30px;
  text-transform: uppercase;
  font-size: 55px;
  line-height: 64px;
  text-shadow: -10px -10px #DFDFDF;
  /* #032C4B */
  color: #032C4B; }
  .title-shadow::after {
    content: "";
    width: 41px;
    height: 33px;
    bottom: -10px;
    right: -25px;
    background-image: url("../img/icons/Subtract bottom.svg");
    position: absolute; }
  .title-shadow::before {
    top: -20px;
    left: -30px;
    width: 72px;
    height: 61px;
    content: "";
    background-image: url("../img/icons/Subtract top.svg");
    position: absolute; }

.faculties {
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 107px; }
  .faculties__block-text {
    max-width: 330px; }
  .faculties__text-info {
    margin-bottom: 30px; }
  .faculties__text-info {
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-indent: 15px;
    color: #525252;
    text-transform: capitalize; }
  .faculties__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.faculties {
  display: grid;
  grid-template-areas: "title images" "textValue images" "button images"; }

.faculties-title {
  grid-area: title; }

.faculties__items {
  grid-area: images;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.faculties__text-info {
  grid-area: textValue;
  margin-top: 50px; }

.faculties-btn-wrap {
  grid-area: button; }

.faculties-title {
  position: relative;
  top: 23px;
  margin-bottom: 49px; }

.faculties-btn,
.news-btn {
  padding: 4px 24px;
  border-radius: 5px;
  font-size: 16px; }

.news-btn--addition-margin {
  margin-right: 22px; }

.faculties-item {
  position: relative;
  margin-left: 28px; }
  .faculties-item__img {
    display: block;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .faculties-item__text {
    position: absolute;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    bottom: 0;
    right: 0;
    left: 0;
    padding: 25px 14px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #032C4B; }
    .faculties-item__text::after {
      opacity: 0;
      position: absolute;
      content: url("../img/icons/downArrow.svg");
      left: 50%;
      bottom: 13px;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      -webkit-transition: 0.3s;
      transition: 0.3s; }

.faculties-item:hover .faculties-item__text {
  padding: 13px 14px 40px; }

.faculties-item:hover .faculties-item__text::after {
  opacity: 1; }

.figures {
  margin-bottom: 70px; }

.figures-title {
  margin-bottom: 45px; }

.figures-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.figures-item {
  position: relative;
  -ms-flex-preferred-size: 249px;
      flex-basis: 249px;
  padding: 32px 15px 35px;
  border: 4px solid #525252;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .figures-item__icon {
    margin: 0 auto; }
    .figures-item__icon--active {
      display: none; }
  .figures-item .img-wrap {
    width: 93px;
    height: 93px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .figures-item::after {
    content: url("../img/icons/triengle.svg");
    position: absolute;
    bottom: -8px;
    right: -4px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .figures-item__title {
    position: relative;
    margin: 32px 0 26px;
    font-size: 20px;
    text-transform: uppercase;
    color: #525252;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25); }
    .figures-item__title::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -8px;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      width: 99px;
      height: 3px;
      background: #BFBFBF;
      -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25); }
  .figures-item__text {
    font-size: 15px;
    text-align: justify;
    letter-spacing: -0.05em;
    text-transform: capitalize;
    color: #525252;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25); }

.figures-item:hover {
  border: 4px solid #032C4B; }

.figures-item:hover .figures-item__icon {
  display: none; }

.figures-item:hover .figures-item__icon--active {
  display: block; }

.figures-item:hover::after {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  content: url("../img/icons/triengle active.svg"); }

.figures-item:hover .figures-item__title {
  color: #032C4B; }

.figures-item:hover .figures-item__title::after {
  background: -webkit-gradient(linear, left top, right top, from(#EF0000), to(#C20C00));
  background: linear-gradient(90deg, #EF0000 0%, #C20C00 100%);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25); }

.news-section {
  display: grid;
  grid-template-areas: "titleNews news-img switch" "textNews news-img switch" "textNews news-img switch";
  margin-bottom: 80px; }

.news-block-title {
  grid-area: titleNews;
  margin-bottom: 0; }

.news-text-block {
  margin-top: 0;
  max-width: 325px; }

.news-text-wrap {
  grid-area: textNews; }

.news-block-img {
  grid-area: news-img; }

.news-block-img img {
  margin: auto;
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.switch-blocks {
  grid-area: switch; }

.news-block-item-title {
  font-style: italic;
  font-weight: 900;
  font-size: 25px;
  text-transform: uppercase;
  color: #032C4B;
  text-indent: 15px; }

.news-block-item-date {
  font-style: italic;
  font-weight: 300;
  font-size: 10px;
  color: #525252;
  text-indent: 15px;
  margin-bottom: 18px; }

.footer {
  padding: 47px 0px 45px;
  background: #032C4B; }

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin: -10px; }

.footer-block:first-child {
  margin-bottom: 104px; }
  .footer-block:first-child::before {
    position: absolute;
    content: "";
    width: 102%;
    height: 2px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    bottom: -48px;
    background: #EDEDED;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.info-block {
  -ms-flex-preferred-size: 218px;
      flex-basis: 218px;
  color: #EDEDED;
  font-size: 18px;
  margin: 20px; }
  .info-block__title {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 30px; }
  .info-block__item {
    margin-bottom: 10px; }
  .info-block__link {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #EDEDED;
    line-height: 21px; }

.info-block-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.info-block-social li {
  width: 46px;
  height: 46px;
  border: 1px solid #fff;
  position: relative;
  margin-right: 8px; }
.info-block-social a {
  padding: 11px; }
.info-block-social img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.contact-block {
  -ms-flex-preferred-size: 257px;
      flex-basis: 257px;
  padding: 30px;
  border: 2px solid #EDEDED; }

.form-block {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  bottom: 0;
  padding: 11px 0;
  background: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px); }

.form-item {
  margin: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse; }

.form-item__title {
  font-weight: bold;
  font-size: 20px;
  color: #525252; }

.form-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.form-item__input {
  -ms-flex-preferred-size: 210px;
      flex-basis: 210px;
  border: 1px solid #032C4B;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 2px; }

.title-block {
  position: relative;
  background-image: url("../img/photo/title background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 10%;
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 55px;
  color: #EDEDED; }
  .title-block-text {
    position: relative;
    z-index: 1; }
  .title-block::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 44, 75, 0.29)), color-stop(103.87%, #002B4B));
    background: linear-gradient(180deg, rgba(3, 44, 75, 0.29) 0%, #002B4B 103.87%);
    z-index: 1; }

.bread-crumbs {
  padding: 8px 0;
  border-bottom: 1px solid #BFBFBF;
  margin-bottom: 43px; }

.bread-crumbs-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.bread-crumb-item {
  position: relative;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.bread-crumb-item:not(:last-child)::after {
  content: url("../img/icons/arrowRightgrey.svg");
  position: absolute;
  top: 44%;
  right: -15px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.bread-crumb-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  text-transform: uppercase;
  color: #525252; }
  .bread-crumb-link img {
    margin-right: 6px; }

.content {
  display: grid;
  grid-template-areas: "content content content navigation" "content content content news";
  -webkit-column-gap: 20px;
          column-gap: 20px; }

.info-section {
  grid-area: content; }
  .info-section p {
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
    text-indent: 15px;
    color: #525252;
    margin-bottom: 20px; }

.info-section-title {
  padding: 5px 10px;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  color: #032C4B;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px); }

.info-section-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }
  .info-section-block li {
    position: relative;
    font-size: 15px;
    line-height: 18px;
    text-indent: 15px;
    color: #525252;
    list-style-position: inside; }
    .info-section-block li::before {
      position: absolute;
      content: url("../img/icons/dots list-item.svg");
      left: -7px;
      top: -3px; }
  .info-section-block img {
    display: block;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.info-section-description {
  margin-right: 33px;
  max-width: 290px;
  width: 33%; }

.navigation {
  margin-bottom: 23px;
  grid-area: navigation; }

.navigation-title {
  padding: 13px;
  background: #032C4B;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  font-size: 25px;
  line-height: 109.6%;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF; }

.navigation-block {
  padding: 15px 15px 19px 15px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px); }
  .navigation-block details {
    padding: 9px 21px;
    border-bottom: 1px solid #C4C4C4;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .navigation-block details:focus {
      outline: 0;
      outline-offset: 0; }
  .navigation-block summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #525252;
    cursor: pointer;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 109.6%;
    letter-spacing: -0.02em;
    text-transform: uppercase; }
    .navigation-block summary:focus {
      outline: 0;
      outline-offset: 0; }
  .navigation-block summary img {
    display: none;
    width: 7px;
    height: 4px;
    margin-left: 8px; }
  .navigation-block details[open] summary {
    color: #032C4B;
    margin-bottom: 6px; }
  .navigation-block details[open] summary img {
    display: block; }
  .navigation-block li {
    margin-bottom: 6px;
    margin-left: 26px;
    position: relative; }
    .navigation-block li::before {
      position: absolute;
      content: url("../img/icons/dots list-item.svg");
      left: -7px;
      top: -13%; }
  .navigation-block a {
    font-size: 14px;
    line-height: 109.6%;
    letter-spacing: -0.02em;
    color: #525252; }

details > summary {
  list-style: none; }

details > summary::marker {
  display: none; }

.news {
  grid-area: news;
  max-width: 254px; }

.news-title {
  position: relative;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  text-transform: uppercase;
  color: #032C4B;
  margin-bottom: 35px; }
  .news-title::after {
    content: '';
    position: absolute;
    width: 91px;
    height: 1px;
    left: 0px;
    bottom: -8px;
    background: #032C4B; }
  .news-title::before {
    content: '';
    position: absolute;
    width: 91px;
    height: 1px;
    left: 10px;
    bottom: -13px;
    background: #032C4B; }

.news-item {
  margin-bottom: 21px;
  max-width: 254px; }
  .news-item__img {
    position: relative;
    height: 162px;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px); }
    .news-item__img img {
      max-width: 100%;
      display: block;
      -o-object-fit: cover;
         object-fit: cover; }
  .news-item__label {
    text-align: center;
    padding: 8px 0;
    position: absolute;
    background: rgba(3, 44, 75, 0.5);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    color: #fff;
    text-transform: uppercase;
    bottom: 21px;
    right: 0;
    width: 90%;
    font-size: 14px;
    font-family: Lato; }
  .news-item__text {
    position: relative;
    padding: 15px;
    background-color: #fff; }
    .news-item__text p {
      font-family: Roboto;
      font-style: italic;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      text-align: justify;
      text-indent: 15px;
      text-transform: capitalize;
      color: #525252;
      margin-bottom: 11px; }
  .news-item__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: justify;
    text-indent: 15px;
    color: #525252; }

/*# sourceMappingURL=style.css.map */