* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  min-height: 100vh;
  min-height: -webkit-fill-available; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.container {
  width: 80%;
  max-width: 1157px;
  min-width: 320px;
  margin: 0 auto; }

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9; }

.header-nav {
  background: #EDEDED; }

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0; }

.header-nav__item {
  position: relative;
  margin: 0 18px; }
  .header-nav__item::after {
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    right: -18px;
    position: absolute;
    height: 29px;
    width: 1px;
    background-color: #032C4B;
    content: ""; }

.contact-items-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-panel {
  padding: 5px;
  background-color: #CFCFCF; }

.header-panel__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header-panel__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-panel__item {
  margin-right: 20px; }

.header-panel__link {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  color: #525252; }

.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-links li:not(:first-child) {
  margin-left: 5px; }

.header-links img {
  width: 9px;
  height: 9px; }

.logo {
  position: absolute;
  left: 0;
  top: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 175px;
  max-height: 175px;
  padding: 20px 12px 15px;
  background-color: #032C4B;
  z-index: 3; }
  .logo h3 {
    text-align: center;
    color: #FFEBC4;
    font-size: 17px; }

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: bold;
  /* #032C4B */
  color: #032C4B; }
  .contact-item__icon {
    margin-right: 9px;
    height: 30px;
    width: 30px; }
  .contact-item__name {
    font-size: 10px; }
  .contact-item__info {
    font-size: 16px; }

.search-block {
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 19px; }
  .search-block__input {
    width: 153px;
    padding: 5px 8px;
    border: 1px solid #032C4B;
    border-radius: 4px;
    font-size: 10px;
    color: #525252;
    outline: none; }
    .search-block__input::-webkit-input-placeholder {
      font-size: 10px;
      color: #525252; }
    .search-block__input:-ms-input-placeholder {
      font-size: 10px;
      color: #525252; }
    .search-block__input::-ms-input-placeholder {
      font-size: 10px;
      color: #525252; }
    .search-block__input::placeholder {
      font-size: 10px;
      color: #525252; }
  .search-block__button {
    position: relative;
    left: -4px;
    padding: 1px 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #032C4B;
    border: 1px solid #000000;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 4px 4px 0px;
    cursor: pointer; }
    .search-block__button img {
      width: 11px;
      height: 11px; }

.change-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-left: 18px; }
  .change-language img {
    margin-left: 4px; }

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: #032C4B;
  padding: 22px 0; }
  .menu-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .menu-nav__item {
    margin-right: 35px; }
  .menu-nav__link {
    position: relative;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #EDEDED; }
    .menu-nav__link::after {
      content: "";
      display: none;
      position: absolute;
      -webkit-transform: translate(0 -50%);
              transform: translate(0 -50%);
      left: 0;
      bottom: -22px;
      height: 2px;
      width: 100%;
      background: #FFEBC3;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    .menu-nav__link:hover:after {
      display: block; }

#scrollTop {
  position: fixed;
  bottom: 18px;
  right: 18px;
  width: 43px;
  height: 43px;
  z-index: 2;
  background: #032C4B;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }
  #scrollTop::after {
    content: url("../img/icons/smallArrowUpLight.svg"); }

.btn {
  width: 136px;
  padding: 4px;
  text-transform: uppercase;
  border: 2px solid #032C4B;
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer; }

.btn--dark {
  color: #EDEDED;
  background: #032C4B; }

.btn-light {
  color: #032C4B;
  background: transparent; }

.btn--send {
  width: 96px; }

.menu-nav__link
.btn {
  width: 136px;
  padding: 4px;
  text-transform: uppercase;
  border: 2px solid #032C4B;
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer; }

.btn--dark {
  color: #EDEDED;
  background: #032C4B; }

.btn-light {
  color: #032C4B;
  background: transparent; }

.btn--send {
  width: 96px; }

.main-slider {
  margin-bottom: 80px; }
  .main-slider__inner {
    position: relative;
    max-width: 1157px;
    margin: auto; }
  .main-slider__block {
    position: absolute;
    top: 87px;
    max-width: 538px;
    z-index: 2; }
  .main-slider__title {
    font-size: 55px;
    line-height: 64px;
    text-transform: uppercase;
    color: #032C4B;
    margin-bottom: 53px; }
    .main-slider__title span {
      padding: 0 11px;
      line-height: 55px;
      color: #fff;
      background: #032C4B; }

.slick-dots {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2; }

.slider-more-btn {
  padding: 12px 43px;
  text-transform: uppercase;
  color: #032C4B;
  font-size: 18px;
  color: #032C4B;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.main-slider__items {
  position: relative;
  top: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.main-slider-item {
  -ms-flex-preferred-size: 225px;
      flex-basis: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 27px 16px;
  background-color: rgba(251, 251, 251, 0.8);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1)); }
  .main-slider-item__icon {
    margin-right: 15px; }
  .main-slider-item__title {
    font-size: 20px;
    text-transform: uppercase;
    color: #032C4B; }

.title-item {
  font-size: 55px;
  text-align: center;
  color: #032C4B; }

.title-shadow {
  display: inline;
  position: relative;
  left: 30px;
  text-transform: uppercase;
  font-size: 55px;
  line-height: 64px;
  text-shadow: -10px -10px #DFDFDF;
  /* #032C4B */
  color: #032C4B; }
  .title-shadow::after {
    bottom: -20px;
    right: -30px;
    content: url("../img/icons/Subtract bottom.svg");
    position: absolute; }
  .title-shadow::before {
    top: -20px;
    left: -30px;
    content: url("../img/icons/Subtract top.svg");
    position: absolute; }

.faculties {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 107px; }
  .faculties__block-text {
    max-width: 330px; }
  .faculties__text-info {
    margin-bottom: 30px; }
  .faculties__text-info {
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-indent: 15px;
    color: #525252;
    text-transform: capitalize; }
  .faculties__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.faculties-title {
  margin-bottom: 49px; }

.faculties-btn {
  padding: 4px 24px;
  border-radius: 5px;
  font-size: 16px; }

.faculties-item {
  position: relative;
  margin-left: 28px; }
  .faculties-item__text {
    position: absolute;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    bottom: 0;
    padding: 25px 14px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #032C4B; }
    .faculties-item__text::after {
      opacity: 0;
      position: absolute;
      content: url("../img/icons/downArrow.svg");
      left: 50%;
      bottom: 13px;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      -webkit-transition: 0.3s;
      transition: 0.3s; }

.faculties-item:hover .faculties-item__text {
  padding: 13px 14px 40px; }

.faculties-item:hover .faculties-item__text::after {
  opacity: 1; }

.figures {
  margin-bottom: 70px; }

.figures-title {
  margin-bottom: 45px; }

.figures-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.figures-item {
  position: relative;
  -ms-flex-preferred-size: 249px;
      flex-basis: 249px;
  padding: 32px 15px 35px;
  border: 4px solid #525252;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .figures-item::after {
    content: url("../img/icons/triengle.svg");
    position: absolute;
    bottom: -8px;
    right: -4px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .figures-item__title {
    position: relative;
    margin: 32px 0 26px;
    font-size: 20px;
    text-transform: uppercase;
    color: #525252;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25); }
    .figures-item__title::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -8px;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      width: 99px;
      height: 3px;
      background: #BFBFBF;
      -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25); }
  .figures-item__text {
    font-size: 15px;
    text-align: justify;
    letter-spacing: -0.05em;
    text-transform: capitalize;
    color: #525252;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25); }

.figures-item:hover {
  border: 4px solid #032C4B; }

.figures-item:hover::after {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  content: url("../img/icons/triengle active.svg"); }

.figures-item:hover .figures-item__title {
  color: #032C4B;
  font-size: 20px; }

.figures-item:hover .figures-item__title::after {
  background: -webkit-gradient(linear, left top, right top, from(#EF0000), to(#C20C00));
  background: linear-gradient(90deg, #EF0000 0%, #C20C00 100%);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25); }

.footer {
  padding: 47px 0px 45px;
  background: #032C4B; }

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative; }

.footer-block:first-child {
  margin-bottom: 104px; }
  .footer-block:first-child::before {
    position: absolute;
    content: "";
    width: 102%;
    height: 2px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    bottom: -48px;
    background: #EDEDED;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.info-block {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  color: #EDEDED;
  font-size: 18px; }
  .info-block__title {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 30px; }
  .info-block__link {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #EDEDED;
    line-height: 21px; }

.info-block-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.info-block-social li {
  width: 46px;
  height: 46px;
  border: 1px solid #fff;
  position: relative;
  margin-right: 8px; }
.info-block-social a {
  padding: 11px; }
.info-block-social img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.contact-block {
  padding: 30px;
  border: 2px solid #EDEDED; }

.form-block {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  padding: 11px 0;
  background: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px); }

.form-item {
  margin: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.form-item__title {
  font-weight: bold;
  font-size: 20px;
  color: #525252; }

.form-item__input {
  -ms-flex-preferred-size: 210px;
      flex-basis: 210px;
  border: 1px solid #032C4B;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 2px; }

/*# sourceMappingURL=style.css.map */