*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
}



a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 80%;
  max-width: 1157px;
  min-width: 320px;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  z-index: 9;
}

.header-nav {
  background: #EDEDED;
}

.header-nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 0;
}
.header-nav__item {
  position: relative;
  margin: 0 18px;

  &::after{
    top: 50%;
    transform: translate(0, -50%);
    right: -18px;
    position: absolute;
    height: 29px;
    width: 1px;
    background-color: #032C4B;;
    content: "";
  }
}
.contact-items-wrap {
  display: flex;
}

.header-panel {
  padding: 5px;
  background-color: #CFCFCF;
}

.header-panel__inner {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-panel__list {
  display: flex;
}

.header-panel__item {
  margin-right: 20px;
}

.header-panel__link {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  color: #525252;
}

.header-links {
  display: flex;
}

.header-links li:not(:first-child){
  margin-left: 5px;
}

.header-links img{
  width: 9px;
  height: 9px;
}

.logo {
  position: absolute;
  left: 0;
  top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 175px;
  max-height: 175px;
  padding: 20px 12px 15px;
  background-color: #032C4B;
  z-index: 3;

h3{
  text-align: center;
color: #FFEBC4;
font-size: 17px;
}
}

.contact-item {
  display: flex;
  font-style: normal;
  font-weight: bold;


/* #032C4B */

color: #032C4B;

&__icon {
  margin-right: 9px;
  height: 30px;width: 30px;
}
&__name {
 font-size: 10px;
 
}

&__info{
  font-size: 16px;
}
}

.search-block {
  width: 180px;
  display: flex;
  max-height: 19px;
  &__input {
    width: 153px;
    padding: 5px 8px;
    border: 1px solid #032C4B;
    border-radius: 4px;
    font-size: 10px;
    color: #525252;
    outline: none;

    &::placeholder {
      font-size: 10px;
    color: #525252;
    }
  }
  &__button{
    position: relative;
    left: -4px;
    padding: 1px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #032C4B;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    img {
      width: 11px;
      height: 11px;
    }
  }
}

.change-language {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 18px;
  img {
    margin-left: 4px;
  }
}

.menu-nav {
  display: flex;
  justify-content: flex-end;
  background: #032C4B;
  padding: 22px 0;

  &__list {
    display: flex;
    justify-content: flex-end;
  }

  &__item {
    margin-right: 35px;
  }

  &__link {
    position: relative;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.3s;
    color: #EDEDED;
      &::after{
        content: "";
        display: none;
        position: absolute;
        transform: translate(0 -50%);
        left: 0;
        bottom: -22px;
        height: 2px;
        width: 100%;
        background: #FFEBC3;
        transition: 0.3s;
      }
      &:hover:after{
        display: block;
      } 
  }
}


.btn {
  width: 136px;
  padding: 4px;
  text-transform: uppercase;
  border: 2px solid #032C4B;
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn--dark {
  color: #EDEDED;
  background: #032C4B;
}

.btn-light {
  color: #032C4B;
  background: transparent;
}

.btn--send {
  width: 96px;
}
.menu-nav__link
.btn {
  width: 136px;
  padding: 4px;
  text-transform: uppercase;
  border: 2px solid #032C4B;
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn--dark {
  color: #EDEDED;
  background: #032C4B;
}

.btn-light {
  color: #032C4B;
  background: transparent;
}

.btn--send {
  width: 96px;
}

.footer {
  position: sticky;
  bottom: 0;
  padding: 11px 0;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
}

.footer-form {
  margin: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-form__title {
  font-weight: bold;
  font-size: 20px;
  color: #525252;
}

.footer-form__input {
  flex-basis: 210px;
  border: 1px solid #032C4B;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 2px;
}


//content

.main-slider {
  &__inner{
    position: relative;
  }
  &__nav-wrap {
    top: 50%;
    right: 0;
    position: absolute;
  }
  &__nav {
    position: absolute;
    top: 50%;
    right: 0;
  }
&__block {
  position: absolute;
  top: 87px;
  // transform: translate(, 0);
  max-width: 538px;
  z-index: 2;
}

  &__title {
   
    font-size: 55px;
    line-height: 64px;
    text-transform: uppercase;
    color: #032C4B;;
    margin-bottom: 53px;
  }
}

.slick-dots {
  position: absolute;
  top: 0;
  right: 0;
    z-index: 2;;
}

.slider-more-btn {
  padding: 15px 40px;
  text-transform: uppercase;
  color: #032C4B;
}